
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h3>Temperature Converter</h3>
        <input id="degreeInputField" type="text" placeholder="Degrees in C° or F°" />
        <button id="convertTemperatureToFarenheitButton">Celsius => Farenheit</button>
        <button id="convertTemperatureToCelsiusButton">Farenheit => Celsius</button>
    </div>
    <div id="conversionResult"></div>
    <script src="~/Static/Main.js"></script>
</body>
</html>
